<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>@(ViewBag.Title ?? "Playlist")</title>
        <link rel="shortcut icon" href="@Url.Content("~/images/favicon.png")" />
        <link rel="stylesheet" href="@Url.Content("~/css/playlist.css")">
        @RenderSection("HtmlHead", required: false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>